<%- include('../partials/header.ejs'); %>

    <body>
        <%- include('../partials/dashboard-nav.ejs'); %>
            <div id="rest-list" class="rest-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order No</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Pincode</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Action</th>
                            <th scope="col">Ngo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(length> 0) { %>
                            <% rows.forEach((rows, index)=> { %>
                                <tr class="row-iter">
                                    <th scope="row">
                                        <%= rows.SEND_ID%>
                                    </th>
                                    <td>
                                        <%= rows.date.toDateString()%>
                                    </td>
                                    <td>
                                        <%= rows.Name%>
                                    </td>
                                    <td>
                                        <%= rows.Pincode%>
                                    </td>
                                    <td>
                                        <%= rows.Quantity %>
                                    </td>
                                    <td>
                                        <%= rows.status %>
                                    </td>
                                    <td>
                                        <%= rows.ngo %>
                                    </td>
                                </tr>
                                <%})%>
                                    <%} else {%>
                                        <tr>
                                            <th colspan="7" style="text-align: center;">Empty</th>
                                        </tr>
                                        <%}%>
                    </tbody>
                </table>
            </div>
            <div id="rest-list" class="rest-list">
                <h2 class="dash-nav-title " style="padding-top: 0;">
                    Expried Request
                </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order No</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(resLen> 0) { %>
                            <% results.forEach((results, index)=> { %>
                                <tr class="row-iter">
                                    <th scope="row">
                                        <%= results.order_no %>
                                    </th>
                                    <td>
                                        <%= results.ordered_Date.toDateString()%>
                                    </td>
                                    <td>
                                        <%= results.name%>
                                    </td>
                                    <td>
                                        <%= results.Phone%>
                                    </td>
                                    <td>
                                        <%= results.Quantity%>
                                    </td>
                                    <td>
                                        <%= results.desc%>
                                    </td>
                                </tr>
                                <%})%>
                                    <%} else {%>
                                        <tr>
                                            <th colspan="4" style="text-align: center;">Empty</th>
                                        </tr>

                                        <%}%>

                    </tbody>
                </table>
            </div>
    </body>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", () => {
            loader.style.display = "none";
        })
    </script>

    </html>
