<%- include('../partials/header.ejs'); %>

    <head>
        <link rel="stylesheet" href="css/restDash.css">
    </head>

    <body>
        <!-- <div id="preloader"></div> -->
        <%- include('../partials/dashboard-nav.ejs'); %>
            <section class="alert-down disp-alrt" id="swip_down">
                <div>
                    <span>Swipe down to accept orders</span><br>
                </div>
            </section>
            <section class="rest-dashboard">
                <section class="prof-det">
                    <div class="prof-attr">
                        <spam>Name:</spam>
                        <spam>
                            <%= ngoUid%>
                        </spam>
                    </div>
                    <div class="prof-attr">
                        <spam>Name:</spam>
                        <spam>
                            <%= ngoName%>
                        </spam>
                    </div>
                    <div class="prof-attr">
                        <spam>Email:</spam>
                        <spam>
                            <%= ngoEmail%>
                        </spam>
                    </div>
                    <div class="prof-attr">
                        <spam>Phone:</spam>
                        <spam>
                            <%= ngoPhone%>
                        </spam>
                    </div>
                    <div class="prof-attr">
                        <spam>location:</spam>
                        <spam>
                            <%= ngoLoc%>
                        </spam>
                    </div>
                    <div class="prof-attr">
                        <spam>Pincode:</spam>
                        <spam>
                            <%= ngoPin%>
                        </spam>
                    </div>
                    <div class="prof-attr">
                        <button class=" btn btn-primary  " onclick="dispReg('regDet')">Change Password</button>
                    </div>
                </section>
                <section class="reg-class" id="passnotmatch">
                    <div class="add-rest ">
                        <h2 class="dash-nav-title " style="padding-top: 0;">
                            Password Not Matched
                        </h2>
                        <div class="material-textfield">
                            <input placeholder=" " type="button" class=" btn btn-danger"
                                onclick="dispCls('passnotmatch')" value="Close">
                        </div>
                    </div>
                </section>
                <section class="reg-class" id="regDet">
                    <div class="add-rest ">
                        <h2 class="dash-nav-title " style="padding-top: 0;">
                            Change Password
                        </h2>
                        <form class="admin-login" id="change_pass" action="/ngo-change-pass" method="post"
                            autocomplete="off">
                            <div class="material-textfield">
                                <input placeholder=" " required name="cur_pass" id="pass_cur" class="guest-name"
                                    type="text">
                                <label>Current Password</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="new_pass" id="pass_new" class="guest-name"
                                    type="text">
                                <label>New Password</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="con_pass" id="pass_con" class="guest-name"
                                    type="text">
                                <label>Confirm new Password</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " class="submit" type="submit" id="check_pass_btn" value="Change">
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " type="button" class=" btn btn-danger" onclick="dispCls('regDet')"
                                    value="Close">
                            </div>
                        </form>
                    </div>
                </section>
                <h3 id="sub-heading">Foods</h3>
                <div id="rest-list" class="rest-list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Order no</th>
                                <th scope="col">Ordered Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Message</th>
                                <th scope="col">Pincode</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if(length> 0) { %>
                                <% rows.forEach((rows, index)=> { %>
                                    <form class="col-md-2" action="/accept" class="aprove-form" method="post">
                                        <tr class="row-iter" id="<%=index + 1 %>">
                                            <th scope="row" class="row-data">
                                                <input name="id" class="sl-inp" readonly value="<%= rows.order_no%>" />
                                            </th>
                                            <td class="row-data">
                                                <%= rows.ordered_date.toDateString()%>
                                            </td>
                                            <td class="row-data">
                                                <%= rows.Name%>
                                            </td>
                                            <td class="row-data">
                                                <%= rows.Phone%>
                                            </td class="row-data">
                                            <td class="row-data">
                                                <%= rows.Quantity%>
                                            </td>
                                            <td class="row-data">
                                                <%= rows.desc%>
                                            </td>
                                            <td class="row-data">
                                                <%= rows.Pincode%>
                                            </td>

                                            <td class="action-btns" class="row-data">
                                                <button type="submit" class="btn btn-sm btn-success">Accept</button>
                                            </td>
                                        </tr>
                                    </form>
                                    <%})%>
                                        <%} else {%>
                                            <tr>
                                                <th colspan="8" style="text-align: center;">Empty</th>
                                            </tr>
                                            <%}%>

                        </tbody>
                    </table>
                </div>
            </section>
            <script>
                // var loader = document.getElementById("preloader");
                // window.addEventListener("load", () => {
                //     loader.style.display = "none";
                // })
                slideout = () => {
                    const alertBox = document.getElementById("swip_down");
                    alertBox.style.animationName = "slideout";
                    alertBox.style.transform = "translate(20rem)";
                }
                dispReg = (idName) => {
                    const restReg = document.getElementById(idName);
                    restReg.style.transform = "scale(1)";
                }
                dispCls = (idName) => {
                    const restReg = document.getElementById(idName);
                    restReg.style.transform = "scale(0)";
                }
                const slidetime = setTimeout(slideout, 3000);
                // slideout();
            </script>
    </body>


    </html>
